<app-sidenav></app-sidenav>


<div>

  <div class="col-md-10 orderTicketText">Data Syncronization Details</div>

  <br>

  <div class="form-txt">
    <span>Time Frequency For Syncronization:</span>
    <!-- <mat-form-field class="example-full-width">
        
        <input (click)="enable=true" matInput placeholder="In Minutes" [(ngModel)]="time">
      </mat-form-field> -->
    <mat-slider class="syncSlider" thumbLabel="true" color="warn" tickInterval="1" min="1" max="60" [(ngModel)]="sliderValue" (change)="Onchange()"></mat-slider>
    <span style="color:#b4b6b7">{{sliderValue}}(MINS)</span>
    <br>
    <br>
    <div>
      <span>Number of Records to Migrate:</span>
      <span class="buttonSpan">
      <button class="countButton" [disabled]="migrationCount?.value < 26" (click)="decrement()" mat-mini-fab>-</button>
      <span>
      <mat-form-field class="countFormField"><input class="countInput" matInput #message [disabled]="migrationCount?.value < 26"
      maxlength="5" [(ngModel)]="migrationCount.value" (ngModelChange)="countValueChanged()" placeholder="Count">
      <mat-hint align="start" style="color: blue" *ngIf="countUpdate">*Count has been Updated</mat-hint>
      <!-- <mat-hint align="end">{{message.value.length}}/5</mat-hint> -->
      </mat-form-field>
      </span>
      <!-- <span class="countValue">{{migrationCount}}</span> -->
      <button class="countButton" (click)="increment()" mat-mini-fab>+</button>
      </span>
      </div>
      <br><br>
    <button style="margin-left: 36%;" [disabled]=!update mat-raised-button color='primary' (click)="updateTime()">Update</button>

    <div class="header">
      <b>
        <h3>Syncronization Time-Table:</h3>
      </b>
    </div>
    <div class="ticket-container mat-elevation-z8 col-xs-12 table">

      <mat-table #table [dataSource]="dataSource" matSort matSortActive="updatedAt" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">

        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sync Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.updatedAt | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAtTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sync Time </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.updatedAt | date:'hh:mm:ss a z'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DataExportDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Polypm DataExportDate </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.DataExportDate | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="SyncConfig">
          <mat-header-cell *matHeaderCellDef mat-sort-header> SyncConfig </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.SyncConfig}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="SyncStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.SyncStatus}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="Created Date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdAt | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container> -->


        <ng-container matColumnDef="SyncTable">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Table </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.SyncTable}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> TotalCount </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.TotalCount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="MigratedCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> MigratedCount </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.MigratedCount}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

      </mat-table>
      <div class="page-no">Page.No: {{pageNo}}</div>
      <mat-paginator #paginator class="ticketPagination" [length]="dataSource.countValue" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]"
        [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

    <!-- <button style="margin-left: 36%;" mat-raised-button color='primary' [disabled]="!enable"  (click)="updateTime()">Update</button> -->
  </div>
</div>