  .form-control {
    width: 21%;
    margin-top: 3%;
  }

  .orderTicketText {
    font-size: 20px;
    font-weight: bolder;
  }

  .booleanDetails {
    color: blue;
    cursor: pointer;
  }

  .searchbar {
    height: 10%;
    width: 100%;
    border-radius: 1px;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0%;
  }

  .badge {
    border-radius: unset;
    width: 70%;
  }

  .searchbox {
    margin-bottom: -4%;
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 'regular';
    font-size: 18px;
    color: #ccc;
  }

  .search {
    width: 250px;
    height: 32px;
    text-indent: 32px;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 16px;
    position: relative;
    color: black;
    font-size: 16px;
    margin-top: 4%;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }

  .search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .faStyle {
    color: rgb(127, 140, 141);
  }

  .txtcolor {
    color: rgb(127, 140, 141);
    font-weight: 100;
    border: none;
    margin-top: 2%;
    margin-left: 1%;
  }

  .pull-right {
    margin-left: 83%;
    margin-top: -4%;
  }

  .filterName {
    margin-right: 10px;
    margin-left: -140%;
  }

  .locationField {
    width: 5em;

  }

  .ticketField {
    width: 5em;
  }

  .statusField {
    width: 5em;
  }

  .blue {
    color: white;
    background: #0066cc
  }

  .green {
    color: white;
    background-color: #009900;
  }

  .orange {
    color: white;
    background-color: #ff9900
  }

  .dark {
    color: white;
    background-color: #003366
  }

  .brown {
    color: white;
    background-color: #666666;
  }

  .mat-paginator-page-size {
    margin-right: 67% !important;
  }

  .mat-table {
    overflow-y: hidden;
  }


  .text-center {
    margin-left: 87%;
  }

  @media only screen and (max-width:420px) {
    .ng-star-inserted {
      margin-top: 20px;
    }

    .container .ng-star-inserted {
      margin: 10px 0;
      text-align: center;
    }

    .mat-table {
      width: 800px;
      overflow-y: scroll;
    }

    .mat-select-trigger {
      text-align: center !important;
    }

    .mat-paginator {
      width: 800px;
    }

    .mat-paginator-container {
      justify-content: center;
    }

    .orderTicketText {
      margin: 10px 0;
      text-align: center;
    }

    .optionDiv>:first-child {
      display: block !important;
    }

    .optionDiv .mat-accent .mat-input-element {
      text-align: center;
    }

    .page-no {
      background: white;
      margin: 0 !important;
      position: relative !important;
      text-align: center;
      width: 800px;
    }

    .table-orders {
      overflow-y: scroll;
    }

  }
